.copyright {
  padding-bottom: 40px;

  @media(min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  position: relative;
  padding-bottom: 7px;
  display: block;

  @media(min-width: @tablet-width) {
    padding: 9px 50px 9px 5px;
  }
}

.copyright__link::after {
  content: " ";
  width: 27px;
  height: 34px;
  background-image: url("../../img/html-logo.svg");
  background-repeat: no-repeat;
  top: -8px;
  right: 0;
  display: block;
  position: absolute;

  @media(min-width: @tablet-width) {
    top: 0;
  }
}
