.promo {
  padding-bottom: 20px;
  min-height: 480px;
  position: relative;

  @media(min-width: @tablet-width) {
    min-height: 844px;
  }

  @media(min-width: @desktop-width) {
    min-height: 694px;
  }
}

.promo--main-nav-opened::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 197px;
  background-color: @color-white;
  z-index: 2;

}

.promo__wrapper {
  background-image: url("../../img/promo-background-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 302px;

  @media(min-width: @tablet-width) {
    background-image: none;
  }
}

.promo__wrapper::before {

  @media(min-width: @desktop-width) {
    content: " ";
    width: 1040px;
    height: 694px;
    position: absolute;
    background-image: url("../../img/promo-background-desktop@1x.png");
    background-repeat: no-repeat;
    right: -325px;
    top: -113px;
    z-index: -1;
  }

}

.promo__inner {
  background-color: rgba(104, 183, 56, 85%);
  height: 302px;

  @media(min-width: @tablet-width) {
    background-color: transparent;
  }
}

.promo__inner::before {

  @media(min-width: @desktop-width) {
    content: " ";
    width: 1040px;
    height: 694px;
    position: absolute;
    background-color: @color-green;
    opacity: 0.85;
    right: -325px;
    top: -113px;
    z-index: -1;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  position: relative;

  @media(min-width: @tablet-width) {
    .promo__button {
      position: absolute;
      left: 90px;
      top: 255px;
    }
  }

  @media(min-width: @desktop-width) {
    .promo__button {
      left: 90px;
      top: 350px;
    }

  }
}

.promo__title {
  color: @color-white;
  font-family: @oswald;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  padding-left: 15px;
  text-align: center;

  @media(min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @color-black;
    padding-top: 34px;
    padding-left: 90px;
    text-align: left;
  }

  @media(min-width: @desktop-width) {
    padding-top: 110px;
    padding-left: 80px;
  }
}

.promo__text {
  color: @color-white;
  text-transform: uppercase;
  margin: 0;
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding-top: 24px;

  @media(min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    text-align: left;
    padding-left: 90px;
  }

  @media(min-width: @desktop-width) {
    padding-top: 40px;
  }
}

.promo__image-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 29px;

  @media(min-width: @tablet-width) {
    width: 700px;
    height: 600px;
    margin-right: auto;
    margin-left: 0;
  }

  @media(min-width: @desktop-width) {
    position: absolute;
    right: 135px;
    top: 29px;
    padding: 0;

  }
}

.promo__image {

  margin: 0 auto;
  display: block;

  @media(min-width: @tablet-width) {
    display: none;
  }
}

.promo__image--tablet {
  display: none;

  @media(min-width: @tablet-width) {
    display: block;
  }

  @media(min-width: @desktop-width) {
    display: none;
  }
}

.promo__image--desktop {
  display: none;

  @media(min-width: @desktop-width) {
    display: block;
  }
}

.promo__button {
  text-decoration: none;
  text-transform: uppercase;
  color: @color-white;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: @color-green;
  padding: 10px;
  display: block;
  margin-top: 3px;
  text-align: center;

  @media(min-width: @tablet-width) {
    padding: 14px 26px;
    width: 242px;
    margin: 0;
    box-sizing: border-box;
  }
}
